altgraph==0.17.2
certifi==2023.5.7
charset-normalizer==2.0.12
colorama==0.4.5
idna==3.3
loguru==0.6.0
pefile==2023.2.7
pyinstaller==5.11.0
pyinstaller-hooks-contrib==2022.10
pywin32==304
pywin32-ctypes==0.2.0
requests==2.31.0
tqdm==4.62.0
urllib3==1.26.8
win32-setctime==1.1.0
XlsxWriter==3.0.3
